<html>
<head>
    <title>FlyAround notification</title>
</head>
<body>
<h1>
    {{ title }}
</h1>
<div class="container">
    <div style="color: blue">{{ body }}</div>
    <img src="{{ img }}" alt="" style="width: 80px">
    <p style="color: red">See you soon ! :)</p>
</div>
</body>
</html>